<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/mui.picker.css">
		<link rel="stylesheet" href="../../css/mui.poppicker.css">
		<style>
			html,
			body,
			.mui-content {
				width: 100%;
				height: 100%
			}
			.mui-content {
				font-family: "华文细黑";
				//background: url("../../images/background/bg.jpg") no-repeat;
				background-color: #EFEFF4;
				background-size: 100% 100%;
			}
			
			.mui-row {
				background-color: #FFF;
				text-align: right;
				filter:alpha(opacity:70); 
				opacity:0.6;  
				-moz-opacity:0.6;
				-khtml-opacity: 0.6
			}
			
			.inputcell {
				height: 60px;
				//border: 0px solid #73AD21;
				font-size: 18px;
			}
			
			.alignleft{
				text-align: left;
			}
			
			.un-editable{
				line-height: 60px;
				margin-left: 12px;
			}
			
			.inputtxt{
				border:none #FFFFFF;
				border-bottom:#777777 solid 1px;
				font-size: 30px;
			}
			
			
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<span class="mui-icon mui-icon-closeempty mui-pull-right mui-action-back" style="font-size: 32px;"></span>
		</header>

		<div class="mui-content">

            <div style="font-size: 24px;text-align: center;height: 48px;background-color: white;" >
           		<h3  id="h3title" style="padding-top: 10px;">出车登记</h3>
           	</div>
           <form class="mui-input-group" >
           	
           	<div class="mui-input-row">
           		<label>车辆</label>
           		<input type="text" class="mui-input-clear" placeholder="" disabled="disabled" id="vehicleno">
           	</div>
			<div class="mui-input-row">
				<label>驾驶员</label>
				<input type="text" class="mui-input-clear" placeholder="" disabled="disabled" id="drivername">
			</div>
			<div class="mui-input-row">
				<label>开往</label>
				<input type="text" class="mui-input-clear" placeholder="" disabled="disabled" id="forwardmsg">
			</div>
			<div class="mui-input-row">
				<label>运输件数</label>
				<input type="number" class="mui-input-clear" placeholder="" disabled="disabled" id="totalpieces">
			</div>
			<div class="mui-input-row">
				<label>出发里程<span style="color: red;">*</span></label>
				<input type="number" class="mui-input-clear"  pattern="\d*"  placeholder="" style="background-color:#FFFFCC;" id="txt-leavemileage">
			</div>
           <div class="mui-input-row" id="leavetemppanel">
				<label>起运温度<span style="color: red;">*</span></label>
				<input type="number" class="mui-input-clear" placeholder="" style="background-color:#FFFFCC;"  id="txt-leavetemp">
           </div>
           	
           	
           	 
           	<div class="mui-input-row">
           		<label>首站目的地<span style="color: red;">*</span></label>
           		<input id="txt-targetadd" class="mui-input-clear" type="text" placeholder="----首站----" style="background-color:#FFFFCC;" readonly="true">
           	</div>
           	
           	
           </form>
			

			<div class="mui-content-padded" style="margin-top: 20px;">
				<button id="btn-save" type="button" class="mui-btn mui-btn-block mui-btn-primary">保存并出发</button>
			</div>

		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/jquery-3.2.1.min.js"></script>
		
		<script src="../../js/myglobal.js"></script>
		<script src="../../js/myinput.js"></script>
		<script src="../../js/bus/tmstrmap/tmstrmap.js"></script>
		<script type="text/javascript" src="../../plugs/layer/layer.js" ></script>
		<script>
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});
			var trrecordid="";
			var flagcold="";
			var vehicleno="";
			var mileages="";//当前车辆数据库中记录的里程值;
			var current_trrecord={};
			var trrecord_order_json=[];//原始的查询结果
			var trrecord_order_list=[];//适应下拉选择的结果集
			var trrecord_order={};//被选中的结果
			var trrecord_factfirstorder={};//实际首站
			
			var leavemileage;//里程
			var leavetemp;//启运温度
			var mode;//页面状态  1新增  2编辑状态
			mui.plusReady(function(){
				
				ajaxxing();
				
				//初始化信息显示
				initView();
				//获取下拉列表的数据
				//formatOrderListDate();
				trrecord_order_list=getFormatOrderListDate(trrecord_order_json);
				
				//初始化下拉列表
				initAddSelect();
				gettmstrmapsub0(trrecordid,vehicleno);

				//初始化按钮选项
			    initAction();
				
			});
			
		var initView=function(){
			var self=plus.webview.currentWebview();
			var forwardmsg=self.forwardmsg;
		     vehicleno=self.vehicleno;
			var drivername=self.drivername;
			var totalpieces=self.totalpieces;
			trrecordid=self.trrecordid;
			flagcold=self.flagcold;
			current_trrecord=self.current_trrecord;
			trrecord_factfirstorder=self.trrecord_factfirstorder;
			mode=self.mode;
			trrecord_order_json=self.order_all;
			$("#drivername").val(drivername);
			$("#vehicleno").val(vehicleno);
			$("#forwardmsg").val(forwardmsg);
			$("#totalpieces").val(totalpieces);
			
			if(flagcold=="N"){
				$("#leavetemppanel").addClass("mui-hidden");
			}
			
		}
		
		


		
		var gettmstrmapsub0=function(trrecordid,vehicleno){
			
				var url = getServerPath(localStorage.netmod)
				console.log(url);
				var dataType = 'json';
				//发送数据
				var data = {
					controller: 'TmsTrRecord',
					method: 'gettmstrmapsub0',
					vehicleno:vehicleno,
					trrecordid:trrecordid,
					token: TOKEN
				};
				//console.log(data);
				mui.ajax(url, {
					data: data,
					dataType: dataType, //服务器返回json格式数据
					async:false,
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: success1,
					error: err
				});
		}
		
		var success1 = function(response) {
				if(response != null) {
					var syscode = response.syscode;
					var sysreason = response.sysreason;
					if(syscode == SYSCODE_NO) {
						tokenOutTime(sysreason);
					} else {
						console.log(JSON.stringify(response));
						//新增状态  里程这里显示上次填的公里数  编辑状态  这里显示的是当前登记的出车公里数值
						mileages=response.sysdata.TmsTrRecord_gettmstrmapsub0.vehicleinfo[0].mileages;
						if(mode==1){
							$("#txt-leavemileage").attr('placeholder','上次里程登记为：'+mileages);
						}else if(mode==2){
							var msg=JSON.stringify(current_trrecord);
							$("#txt-leavemileage").val(current_trrecord.LEAVEMILEAGE);
							$("#txt-leavetemp").val(current_trrecord.LEAVETEMP);
							$("#txt-targetadd").attr("disabled","disabled");
							$("#txt-targetadd").val(trrecord_factfirstorder.CUSTOMNAME);//客户名称信息
						}
					    
						
						//alert(mileages);
					}
				}
			};
			
		
		
		var initAction=function(){
			//温度输入格式控制
			 $("#txt-leavetemp").keydown(function(e) {  
			        digitInput($(this), e);  
			    });  
			//保存
			var btnsave=document.getElementById("btn-save");
			btnsave.addEventListener('tap',function(){
				saveRecordOrder();
			});
			
		}
		
		var saveRecordOrder= function(){
			var flag=validate();
			if(flag){
				//保存 并返回到主界面
				leavemileage=$("#txt-leavemileage").val();
				leavetemp=$("#txt-leavetemp").val();
				doSave(mode);
			}
		}
		
		//返回主页面
		var  turnToParent=function(jsonstr) {
				var mainPage = null;
				if(!mainPage) {
					mainPage = plus.webview.currentWebview().opener();
				}
				mui.fire(mainPage, "returnEvent0", {
					"value": jsonstr
				});
				mui.back();
			}
		
		var doSave=function(mode){
			if(mode==1){
				var wa = plus.nativeUI.showWaiting();
				plus.geolocation.getCurrentPosition( geoInf, function ( e ) {
					//outSet( "获取定位位置信息失败："+e.message );
					//定位失败处理方式  位置就不传递了
					ajaxSave( leavemileage,leavetemp,trrecord_order,"","","");
					wa.close();
				},{geocode:true});
			}else if(mode==2){
				ajaxSave2( leavemileage,leavetemp,trrecordid);
			}
			
			
		}
		
		
		function geoInf( position ) {
			var wa = plus.nativeUI.showWaiting();
			var str = "";
			str += "地址："+position.addresses+"\n";//获取地址信息
			str += "坐标类型："+position.coordsType+"\n";
			var timeflag = position.timestamp;//获取到地理位置信息的时间戳；一个毫秒数；
			str += "时间戳："+timeflag+"\n";
			var codns = position.coords;//获取地理坐标信息；
			var lat = codns.latitude;//获取到当前位置的纬度；
			str += "纬度："+lat+"\n";
			var longt = codns.longitude;//获取到当前位置的经度
			str += "经度："+longt+"\n";
			var alt = codns.altitude;//获取到当前位置的海拔信息；
			str += "海拔："+alt+"\n";
			var accu = codns.accuracy;//地理坐标信息精确度信息；
			str += "精确度："+accu+"\n";
			var altAcc = codns.altitudeAccuracy;//获取海拔信息的精确度；
			str += "海拔精确度："+altAcc+"\n";
			var head = codns.heading;//获取设备的移动方向；
			str += "移动方向："+head+"\n";
			var sped = codns.speed;//获取设备的移动速度；
			str += "移动速度："+sped;
			console.log(JSON.stringify(position));
			
			var current_point=codns.latitude+','+codns.longitude;//当前位置
			
			var current_lat=lat;
			var current_lng=longt;
			var current_addresses=position.addresses;
			//alert(current_lat);
			//alert(current_lng);
			//alert(current_addresses);
			ajaxSave( leavemileage,leavetemp,trrecord_order,current_lat,current_lng,current_addresses);
			wa.close();
		}
		
		
		
		
		
		var ajaxSave=function ( leavemileage,leavetemp,orderobj,current_lat,current_lng,current_addresses){
			
				var url = getServerPath(localStorage.netmod);
				var _ordid=orderobj.ORDID;
				console.log(url);
				var dataType = 'json';
				//发送数据
				var data = {
					controller: 'TmsTrRecord',
					method: 'tmstrmapsub0readygo',
					trrecordid: trrecordid,
					ordid:_ordid,
					leavemileage:leavemileage,
					leavetemp:leavetemp,
					current_lat:current_lat,
					current_lng:current_lng,
					current_addresses:current_addresses,
					vehicleno:vehicleno,
					username:getLoginName(),
					token: TOKEN
				};
				//console.log(JSON.stringify(data));
				mui.ajax(url, {
					data: data, 
					dataType: dataType, //服务器返回json格式数据
					async:false,
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: success2,
					error: err
				});
			
		}
		
		
				var success2= function(response) {
				if(response != null) {
					var syscode = response.syscode;
					var sysreason = response.sysreason;
					if(syscode == SYSCODE_NO) {
						tokenOutTime(sysreason);
					} else {
						console.log(JSON.stringify(response));
						var resjson=response.sysdata.TmsTrRecord_tmstrmapsub0readygo;
						var code=resjson.code;
						var msg=resjson.msg;
						var memo=resjson.memo;
						
						if(code=="OK"){
							turnToParent(JSON.stringify(trrecord_order));
						}else{
							toast(msg+memo);
						}

					}
				}
			};
		
		
		
		//保存前校验数字是否合理
		var validate=function(){
			//校验表单数字
			var leavemileage=$("#txt-leavemileage").val();//填写的里程
			if(leavemileage==""){
				layer.tips('出发里程不能为空', '#txt-leavemileage', {
						  tips: [1, '#3595CC'],
						  time: 1500
						});
				return false;
			}

           // alert("mileages:"+mileages+" leavemileage:"+leavemileage);
			if(Number(mileages)>Number(leavemileage)){
				layer.tips('出发里程不能小于当前车辆的里程,当前登记的里程为'+mileages+'公里,请确认', '#txt-leavemileage', {
						  tips: [1, '#3595CC'],
						  time: 3500
						});
				return false;
			}
			
			if(flagcold=='Y'){
				if($("#txt-leavetemp").val()==""){
					layer.tips('本车次含有冷链药品，请输入起运温度', '#txt-leavetemp', {
						  tips: [1, '#3595CC'],
						  time: 1500
						});
					return false;
					
				}
			}
			
			if(mode==1)//新增时判断
			if($.isEmptyObject(trrecord_order)){
				layer.tips('请选择首站目的地', '#txt-targetadd', {
						  tips: [1, '#3595CC'],
						  time: 1500
						});
				return false;
			}
			return true;
		}
		
		
		
		var ajaxSave2=function ( leavemileage,leavetemp,trrecordid){
			
				var url = getServerPath(localStorage.netmod);
				console.log(url);
				var dataType = 'json';
				//发送数据
				var data = {
					controller: 'TmsTrRecord',
					method: 'tmstrmapsub0readygoedit',
					trrecordid: trrecordid,
					leavemileage:leavemileage,
					leavetemp:leavetemp,
					token: TOKEN
				};
				//console.log(JSON.stringify(data));
				mui.ajax(url, {
					data: data,
					dataType: dataType, //服务器返回json格式数据
					async:false,
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: success3,
					error: err
				});
			
		}
		
		
		var success3= function(response) {
			if(response != null) {
				var syscode = response.syscode;
				var sysreason = response.sysreason;
				if(syscode == SYSCODE_NO) {
					tokenOutTime(sysreason);
				} else {
					console.log(JSON.stringify(response));
					var resjson=response.sysdata.TmsTrRecord_tmstrmapsub0readygoedit;
					var code=resjson.code;
					var msg=resjson.msg;
					var memo=resjson.memo;

					if(code=="OK"){
						turnToParent(JSON.stringify(trrecord_order));
					}else{
						toast(msg+memo);
					}
		
				}
			}
		};
		
			
		</script>
	</body>

</html>