<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/mystyle.css" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-plus .plus {
				display: inline;
			}
			
			.plus {
				display: none;
			}
			
			#topPopover .mui-popover-arrow {
				left: auto;
				right: 6px;
			}
			
			p {
				text-indent: 22px;
			}
			
			.mui-popover {
				height: 300px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">密码修改</h1>
		</header>

		<div class="mui-content">

			<div class="mui-content-padded">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>原密码</label>
						<input type="password" class="mui-input-password" id="txt_password">
					</div>
					<div class="mui-input-row">
						<label>现密码</label>
						<input type="password" class="mui-input-password" id="txt_password_new1">
					</div>

					<div class="mui-input-row mui-plus-visible">
						<label>确认密码</label>
						<input type="password" class="mui-input-password" id="txt_password_new2">
					</div>
					<div class="mui-button-row">
						<button type="button" class="mui-btn mui-btn-primary" id="btn_submit">确认</button>&nbsp;&nbsp;
						<button type="button" class="mui-btn mui-btn-danger" id="btn_cancel">取消</button>
					</div>
				</form>

			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery-3.2.1.min.js"></script>
		<script src="../../js/myglobal.js"></script>

		<script>
			mui.init();

			mui.ready(function() {

			});

			var validata = function(password, password_new1, password_new2) {

				if(password == null || password == '') {
					mui.toast("原密码不能为空，请确认");
					return false;
				}
				if(password_new1 == null || password_new1 == '') {

					mui.toast("新密码不能为空，请确认");
					return false;
				} else if(password_new1.length < PASSWORD_MIN_LEN) {
					mui.toast("新密码长度不能少于" + PASSWORD_MIN_LEN + "位数，请确认");
					return false;
				}
				if(password_new2 != password_new1) {

					mui.toast("新密码和确认密码不一致，请确认");
					return false;
				}
				return true;

			}

			jQuery("#btn_cancel").click(function() {

				closeme();
			})

			jQuery("#btn_submit").click(function() {
				var json = [];
				var password = jQuery("#txt_password").val();
				var password_new1 = jQuery("#txt_password_new1").val();
				var password_new2 = jQuery("#txt_password_new2").val();
				var account = JSON.parse(localStorage.userdata).VCACCOUNT;

				if(validata(password, password_new1, password_new2)) { //验证通过
					//ajax 提交到服务器取修改密码，且关闭当前界面
					var row = {
						password: password,
						password_new1: password_new1,
						account: account
					}
					json.push(row);
					var params = JSON.stringify(json[0]);
					console.log(params);
					ajax(params);
				}

			})

			//设置全局beforeSend
			mui.ajaxSettings.beforeSend = function(xhr, setting) {
				//beforeSend演示,也可在$.ajax({beforeSend:function(){}})中设置单个Ajax的beforeSend
				console.log('beforeSend:::' + JSON.stringify(setting));
			};

			//设置全局complete
			mui.ajaxSettings.complete = function(xhr, status) {
				console.log('complete:::' + status);
			}

			var ajax = function(params) {
				//利用RunJS的Echo Ajax功能测试
				var url =getServerPath(localStorage.netmod)
				var dataType = 'json'; //json
				console.log("url:" + url);
				//发送数据
				var data = {
					controller: 'MyUser',
					method: 'password',
					params: params,
					token: TOKEN
				};

				mui.ajax(url, {
					data: data,
					dataType: dataType, //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: success,
					error: err
				});
			};
			//成功响应的回调函数
			var success = function(response) {
				if(response != null) {
					//console.log(JSON.stringify(response));
					console.log(response);
					var syscode = response.syscode;
					if(syscode == SYSCODE_NO) {
						mui.toast(RELOGINWARNING);
					} else {
						//mui.alert("发送成功");
						mui.alert('密码修改成功', '提示信息', ['确定'], function(e) {
							switch(e.index) {
								case 0:
									closeme();
									break;
								default:
									break;
							}
						}, 'div');

					}
				}
			};
		</script>
	</body>

</html>