<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mystyle.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
			
			.oa-contact-avatar {
				width: 75px;
			}
			
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			
			.oa-contact-content {
				width: 100%;
			}
			
			.oa-contact-name {
				margin-right: 20px;
			}
			
			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">销退确认查询</h1>
			<a id="btn_search" class="mui-icon mui-icon-search mui-pull-right" onclick="openWidget()"></a>
		</header>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#tabbar1">
				<span class="mui-tab-label">全部</span>
				<span style="font-size: 14px;">(<span id="num1">0</span>)</span>
			</a>
			<a class="mui-tab-item" href="#tabbar2">
				<span class="mui-tab-label">新单</span>
				<span style="font-size: 14px;">(<span id="num2">0</span>)</span>
			</a>
			<a class="mui-tab-item" href="#tabbar3">
				<span class="mui-tab-label">同意</span>
				<span style="font-size: 14px;">(<span id="num3">0</span>)</span>
			</a>
			<a class="mui-tab-item" href="#tabbar4">
				<span class="mui-tab-label">拒绝</span>
				<span style="font-size: 14px;">(<span id="num4">0</span>)</span>
			</a>

		</nav>
		<div class="mui-content">
			<div id="tabbar1" class="mui-control-content mui-active">
				<ul id="list1" class="mui-table-view" style="margin-top: 1px;">

				</ul>
			</div>
			<div id="tabbar2" class="mui-control-content">
				<ul id="list2" class="mui-table-view" style="margin-top: 1px;">
				</ul>
			</div>
			<div id="tabbar3" class="mui-control-content">
				<ul id="list3" class="mui-table-view" style="margin-top: 1px;">
				</ul>
			</div>
			<div id="tabbar4" class="mui-control-content">
				<ul id="list4" class="mui-table-view" style="margin-top: 1px;">
				</ul>
			</div>
		</div>
		<div id="copy" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" id="pop_btn_copy">
					<a href="#" style="color: #FF3B30;">复制</a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#copy"><b>取消</b></a>
				</li>
			</ul>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-3.2.1.min.js"></script>
	<script src="../../js/mui.picker.min.js"></script>
	<script src="../../js/mui.poppicker.js"></script>
	<script src="../../js/myglobal.js"></script>
	<script src="../../js/app.js"></script>
	<script>
		mui.init({
			swipeBack: false, //启用右滑关闭功能
			gestureConfig: {
				longtap: true //默认为false
			}
		});

		var dtstartdate = "";
		var dtenddate = "";
		var ibuyerid = "";
		var isalerid = "";

		mui.ready(function() {
			init();
		});

		function init() {
			var jsonlist = JSON.parse(localStorage.salesreturnapplist);
			displayui(jsonlist);
		}

		function openWidget() {
			mui.openWindow({
				url: '../pub/widget_search_6b.html',
				id: 'widget_search_6b.html'
			});
		}

		var txt_vcuniversalname = document.getElementById("txt_vcuniversalname");
		//监听点击事件

		window.addEventListener('widgetSelectEvent', function(event) {
			var value = event.detail.value;
			var jsonvalue = value.substr(1, value.length - 2); //去掉前后中括号
			var json = JSON.parse(value)
			console.log(value.substr(1, value.length - 2));
			console.log("xxxxxxxxxxxx:" + jsonvalue);
			//document.getElementById("ui").innerHTML=jsonvalue;
			ajax(jsonvalue);
		});

		//ajax 请求中。
		ajaxxing();
		var ajax = function(params) {
			//利用RunJS的Echo Ajax功能测试
			var url = getServerPath(localStorage.netmod)
			var dataType = 'json';
			//var vcproductinfo = ShortPY(document.getElementById('vcproductinfo').value.toUpperCase());
			//发送数据
			var data = {
				controller: 'SalesReturnApp',
				method: 'salesReturnApp',
				params: params,
				token: TOKEN
			};
			//mui.post(url, data, success, dataType);
			mui.ajax(url, {
				data: data,
				dataType: dataType, //服务器返回json格式数据
				type: 'post', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				success: success,
				error: err
			});

		};
		//成功响应的回调函数
		var success = function(response) {
			if(response != null) {
				console.log('================' + JSON.stringify(response));
				var syscode = response.syscode;
				var sysreason = response.sysreason;
				if(syscode == SYSCODE_NO) {
					tokenOutTime(sysreason);
				} else {
					console.log(JSON.stringify(response));
					//查询按钮点击时  保存到local  按照文本的形式保存
					localStorage.salesreturnapplist = JSON.stringify(response.sysdata.SalesReturnApp_salesReturnApp);
					displayui(response.sysdata.SalesReturnApp_salesReturnApp);
					searchnotice(response.sysdata.SalesReturnApp_salesReturnApp);
				}
			}
		};

		/**
		 * 将json item  显示到某个列表下面
		 * @param {Object} listobj   mlist对象；
		 * @param {Object} content   json单个数据；
		 */
		function displayItem(listobj, content) {
			
			var html_vcrefusereson=content.STATECODE==-1?'<h6>原因：' + content.VCREFUSERESON + '</h6>':"";
			listobj.append(
				'<li class="mui-table-view-cell">' +
				'<a>' +
				'<div class="mui-slider-handle">'

				+
				'<span id="vcuniversalname">' + content.VCUNIVERSALNAME + '</span>' +
				'<h6 style="display:block;" id="isid">' + content.ISID + '</h6>' +
				'<h6 id="vcstandard">规格：' + content.VCSTANDARD + '</h6>' +
				'<h6 id="vcproductcode">编码：' + content.VCPRODUCTCODE + '</h6>' +
				'<h6 id="vcproductname">品名：' + content.VCPRODUCTNAME + '</h6>' +
				'<h6>采购：' + content.VCBUYER + '</h6>' +
				'<h6 id="vcproducername">厂家：' + content.VCPRODUCERNAME + '</h6>' +
				'<h6 id="vccustomername">客户：' + content.VCCUSTOMERNAME + '</h6>' +
				'<h6>销售：' + content.VCSALER + '</h6>' +
				'<h6>备注：' + content.VCMEMO + '</h6>' +
				'<h6>批号：' + content.VCBATCHNUMBER + '</h6>' +
				'<h6>价格：' + content.NUMPRICE + '</h6>' +
				'<h6>数量：' + content.NUMQUANTITY + '</h6>' +
				'<h6>状态：' + content.VCSTATE + '</h6>' +
				'<h6>日期：' + content.DTCREATIONDATE + '</h6>' +
				html_vcrefusereson+
				'</div>' +
				'</a>' +
				'</li>'
			);

		}

		//将查询结果显示到UI上，并且绑定事件
		function displayui(jsonobj) {
			jQuery('#list1').find('li').remove();
			jQuery('#list2').find('li').remove();
			jQuery('#list3').find('li').remove();
			jQuery('#list4').find('li').remove();
			var num1 = 0;
			var num2 = 0;
			var num3 = 0;
			var num4 = 0;
			jQuery.each(jsonobj, function(index, content) {
				//var num=index+1;
				displayItem(jQuery('#list1'), content); //显示到全部下面
				num1++;
				var vcstate = content.VCSTATE;
				if("新单" == vcstate) {
					displayItem(jQuery('#list2'), content); //显示到新单下面
					num2++;
				}

				if("同意" == vcstate) {
					displayItem(jQuery('#list3'), content); //显示到同意下面
					num3++;
				}

				if("拒绝" == vcstate) {
					displayItem(jQuery('#list4'), content); //显示到拒收下面
					num4++;
				}

			});

			// 设置按钮中的行数
			jQuery("#num1").html(num1);
			jQuery("#num2").html(num2);
			jQuery("#num3").html(num3);
			jQuery("#num4").html(num4);

			//右滑复制
			swiperightcopy(jQuery(".mui-table-view-cell"), 'btn_copy');
			//长按复制
			longtapcopy(jQuery(".mui-card-content-inner,.mui-table-view-cell"), mui('#copy'));

			/*jQuery(".mui-tab-label").click(function(){
				init();
			});*/
			jQuery(".mui-table-view").find('a').click(function() {

				var isid = jQuery(this).find('#isid').html();
				var vcuniversalname = jQuery(this).find('#vcuniversalname').html();
				var vcstandard = jQuery(this).find('#vcstandard').html();
				var vcproductcode = jQuery(this).find('#vcproductcode').html();
				var vcproductname = jQuery(this).find('#vcproductname').html();
				var vcproducername = jQuery(this).find('#vcproducername').html();
				var vccustomername = jQuery(this).find('#vccustomername').html();

				mui.openWindow({
					url: 'salesReturnAppDtl.html',
					id: 'salesReturnAppDtl.html',
					extras: {
						isid: isid,
						vcuniversalname: vcuniversalname,
						vcstandard: vcstandard,
						vcproductcode: vcproductcode,
						vcproductname: vcproductname,
						vccustomername: vccustomername,
						vcproducername: vcproducername
					},
					waiting: {
						autoShow: false
					}
				});

			})

		}
	</script>

</html>