<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mystyle.css" />
		<style>
			html,
			body,
			.mui-content {
				height: 0px;
				margin: 0px;
				background-color: #efeff4;
			}
			
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
			
			.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
			
			* {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">客户明细</h1>
		</header>

		<div class="mui-content ">

			<ul id="listheader" class="mui-table-view " style="margin-top: 1px;">
				<li class="mui-table-view-cell">
					<div class="mui-row">
						<div class="mui-col-sm-6  mui-col-xs-6"><span>客户</span></div>
						<div class="mui-col-sm-2  mui-col-xs-2"><span>总数</span></div>
						<div class="mui-col-sm-2  mui-col-xs-2"><span>已扫</span></div>
						<div class="mui-col-sm-2  mui-col-xs-2"><span>待扫</span></div>
					</div>
				</li>
			</ul>

			<ul id="list" class="mui-table-view " style="margin-top: 1px;">

			</ul>

		</div>
		
		

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/myglobal.js"></script>
		<script src="../../js/jquery-3.2.1.min.js"></script>

		<script>
			mui.init({
				gestureConfig: {
					longtap: true //默认为false
				}
			});
			var g_dispatchid = "";
			var transid="";
			
			var vehicleid="";
			var tkdocid="";
			var employeeid="";
			
			
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var dispatchid = self.dispatchid;
				if(self.transid!=undefined){
					
					transid=self.transid;
					
				}
				g_dispatchid = dispatchid;
				var title = self.title;
				vehicleid=self.vehicleid;
				
				tkdocid=self.tkdocid;
				//alert(JSON.stringify(self));
				employeeid=self.employeeid;
				
				//var pagetitle=dispatchid+"| "+title
				setTitle(dispatchid, title, '明细');
				ajax(dispatchid,transid);
			})

			var setTitle = function(f1, f2, f3) {
				jQuery(".mui-title").html(f1 + " | " + f2 + " " + f3)
			}

			//ajax 请求中。
			ajaxxing();
			var ajax = function(dispatchid,transid) {
				//利用RunJS的Echo Ajax功能测试
				var url =getServerPath(localStorage.netmod)
				var dataType = 'json';
				//var vcproductinfo = ShortPY(document.getElementById('vcproductinfo').value.toUpperCase());
				//发送数据
				var data = {
					controller: 'TmsDispatch',
					method: 'tmsDispCustomerLoadNUMdtl',
					dispatchid: dispatchid,
					transid:transid,
					token: TOKEN
				};
				//mui.post(url, data, success, dataType);
				mui.ajax(url, {
					data: data,
					dataType: dataType, //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: success,
					error: err
				});

			};
			//成功响应的回调函数
			var success = function(response) {
				if(response != null) {
					var syscode = response.syscode;
					var sysreason = response.sysreason;
					if(syscode == SYSCODE_NO) {
						tokenOutTime(sysreason);
					} else {
						console.log(JSON.stringify(response));
						//查询按钮点击时  保存到local  按照文本的形式保存
						//localStorage.tmsdispatchlist = JSON.stringify(response.sysdata.TmsDispatch_tmsDispCustomerLoadNUMdtl);
						//console.log("888*response.sysdata.SalesNotice_salesNotice******"+JSON.stringify(response.sysdata.SalesNotice_salesNotice));
						displayui(response.sysdata.TmsDispatch_tmsDispCustomerLoadNUMdtl);
						//searchnotice(response.sysdata.SalesNotice_salesNotice.docids);
						
						
						
						



					}
				}
			};
			//将查询结果显示到UI上，并且绑定事件
			function displayui(jsonobj) {
				jQuery('#list').find('li').remove();
				jQuery.each(jsonobj, function(index, content) {
					var num = index + 1;
					var paltform = content.PLATFORMID;
					var platformHtml="";
					if(paltform == -1) {
						//platformHtml = '<span style="color:red">' + '无' + '</span>';
					}else{
						platformHtml='<span>托盘:</span>' + paltform;
					}
					var printclass=content.PRINTCLASS;
					if(printclass==null){
						printclass='<span  id="printclass" style="color:green">' + '普通' + '</span>';
					}else{
						printclass='<span id="printclass" style="color:red">' + printclass + '</span>';
					}
					
					var infoStyle=content.TOTALPACKS== content.LOADQTY?'<li class="mui-table-view-cell"  style="background:#C1FFC1">':
					'<li class="mui-table-view-cell"  style="background:#FFE4E1">'
					jQuery('#list').append(
						//'<li class="mui-table-view-cell" >' +
						infoStyle+
						'<div class="mui-row" style="height: 50px;">' +
							'<div class="mui-col-sm-6  mui-col-xs-6 "><span id="customname" style="margin-right: 10px;">' + content.CUSTOMNAME + '</span></div>' +
							'<div class="mui-col-sm-2  mui-col-xs-2 "><span>' + content.TOTALPACKS + '</span></div>' +
							'<div class="mui-col-sm-2  mui-col-xs-2 "><span>' + content.LOADQTY + '</span></div>' +
							'<div class="mui-col-sm-2  mui-col-xs-2 "><span>' + (content.TOTALPACKS - content.LOADQTY) + '</span></div>' +
						'</div>' +
						'<div class="mui-row" style="font-size: 16px;">' +
							'<div class="mui-col-sm-6  mui-col-xs-6 ">' +
								//'<span>托盘:</span>' + paltform +
								platformHtml+
							'</div>' +
							'<div class="mui-col-sm-6  mui-col-xs-6 ">' +
								 printclass +
							'</div>' +
						'</div>' +
						'<span style="display: none;" id="transid">' + content.TRANSID + '</span>' +
						'<span style="display: none;" id="dispatchid">' + content.DISPATCHID + '</span>' +
						'<span style="display: none;" id="gcompanyid">' + content.GCOMPANYID + '</span>' +
						//'</a>'+
						'</li>'
					);
				});

				jQuery('#list li').click(function() {
					//显示商品信息
					var dispatchid = g_dispatchid;
					var gcompanyid = jQuery(this).find('#gcompanyid').html();
					var customname = jQuery(this).find('#customname').html();
					var printclass=jQuery(this).find('#printclass').html();
					var transid=jQuery(this).find("#transid").html();
					//open_dtl(dispatchid, drivername, routename);
					/*var json = [];
					var row = {};
					row.dispatchid = dispatchid;
					row.gcompanyid = gcompanyid;
					row.printclass = printclass;
					json.push(row);
					var jsonstr = JSON.stringify(json);*/
					//alert(jsonstr);
					//turnToParent(jsonstr);
					openBoxDtl(dispatchid, transid, customname,printclass);
				});
				
				
				
				
				

			}

			var openBoxDtl = function(dispatchid, transid, customname,printclass) {
				//alert(printclass);
				mui.openWindow({
					url: 'tmsDispatchBoxDtl.html',
					id: 'tmsDispatchBoxDtl.html',
					extras: {
						dispatchid: dispatchid,
						transid: transid,
						customname: customname,
						printclass:printclass,
						
						vehicleid:vehicleid,
						tkdocid:tkdocid,
						employeeid:employeeid
						
						
					},
					waiting: {
						autoShow: false
					}
				});
			}

			var open_dtl = function(dispatchid, drivername) {
				mui.openWindow({
					url: 'tmsDispatchdtl.html',
					id: 'tmsDispatchdtl.html',
					extras: {
						dispatchid: dispatchid,
						drivername: drivername
					},
					waiting: {
						autoShow: false
					}
				});
			}
		</script>
	</body>

</html>