<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mystyle.css" />
		<style>
			.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
			
			* {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
			.center{
				text-align: center;
			}
			.scaned{
				color: green;
			}
			.unscaned{
				color: red;
			}
			.right{
				text-align: right;
			}
			.disabled {
			    pointer-events:none; //使其不可点击
			    opacity:0.6;         //使其样式变为不可用
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">装箱清单</h1>
		</header>
		<div class="mui-content ">

			<ul class="mui-table-view" style="margin-top: 0px;">
			        <li class="mui-table-view-cell">
			            <a id="customname">
			                客户
			            </a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a id="employeename">
			                复核人
			            </a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a id="carrydate">
			                 时间
			            </a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a id="packagetype">
			                 包装类型
			            </a>
			        </li>
			    </ul>
			
			<ul id="list" class="mui-table-view " >
				<!--<li class="mui-table-view-cell">
				    <div class="mui-row" >
		            	<div class="mui-col-sm-2  mui-col-xs-2" ><span>No</span></div> 
		            	<div class="mui-col-sm-4  mui-col-xs-4" ><span>驾驶员</span></div>
		            	<div class="mui-col-sm-4  mui-col-xs-4" ><span>线路</span></div>
		            	<div class="mui-col-sm-2  mui-col-xs-2" ><span>件数</span></div>
	                </div>
				</li>-->
			</ul>
			
			

		</div>
		
		<ul class="mui-table-view" style="margin-top: 10px;" id="feedbackpanl">
		    <li class="mui-table-view-cell " style="background: #FFFFCC;">未扫码原因:(请如实选择)</li>
			<ul class="mui-table-view mui-table-view-radio" id="feedbackoptionlist">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">Item 1</a>
				</li>
			</ul>
			<li class="mui-table-view-cell ">
				<div style="height: 50px;">
					<div class="mui-input-row">
					        <label>备注</label>
					        <input   id="fmemo" type="text" class="mui-input-clear" placeholder="如需备注，请填此处" style="background: #FFFFCC;">
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div style="height: 150px;">
					<button type="button" id="btnsave" class="mui-btn mui-btn-blue mui-btn-block">保存</button>
					<button type="button" id="btncancell" class="mui-btn mui-btn-success mui-btn-block mui-action-back" >取消</button>
				</div>
			</li>
			
		</ul>
			<div style="height: 100px;">
				
			</div>
		

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/myglobal.js"></script>
		<script src="../../js/jquery-3.2.1.min.js"></script>

		<script>
			var keyid = "";//整件或者散件的主键ID
			var boxcode = "";//条形满
			var packagetype="";//整件或者散件
			var flag="";//当前页面有可能是共享使用  传入模式标志
			var employeename ="";//复核人或者装箱人
			var customname="";
			var carrydate="";
			var carryupid="";
			var dispatchid_="";
			var dispatchdtlid_="";
			var usestatus="";
			var ftypeid="";
			var ftypename="";
			mui.init({
				gestureConfig: {
					longtap: true //默认为false
				}
			});

			mui.plusReady(function() {
				init();
				//根据包裹信息初始化当前界面数据
				
				
				initFeedBackOptions();
				ajax(keyid, packagetype);
				initBoxStatusLogs();//初始化包裹的状态 已及提交的日志信息  输入框的状态灯
				initSave();
			})

function initBoxStatusLogs(){
	ajaxLoadBoxStatusLogs();
	setTitle();
}

function ajaxLoadBoxStatusLogs(){
		//利用RunJS的Echo Ajax功能测试
		var url =getServerPath(localStorage.netmod)
		var dataType = 'json';
		
		//发送数据
		var data = {
			controller: 'TmsLoadTruck',
			method: 'getBoxStatusAndLog',
			carryupid: carryupid,
			dispatchid: dispatchid_,
			token: TOKEN
		};
	
		console.log(JSON.stringify(data));
	
		mui.ajax(url, {
			data: data,
			dataType: dataType, //服务器返回json格式数据
			type: 'post', //HTTP请求类型
			timeout: 10000, //超时时间设置为10秒；
			success: ajaxLoadBoxStatusLogsSuccess,
			error: err
		}); 

}

function ajaxLoadBoxStatusLogsSuccess(response){
	if(response != null) {
		var syscode = response.syscode;
		var sysreason = response.sysreason;
		if(syscode == SYSCODE_NO) {
			tokenOutTime(sysreason);
		} else {
			console.log(JSON.stringify(response));
			var data=response.sysdata.TmsLoadTruck_getBoxStatusAndLog;
			var BOXDATA=data.BOXDATA;
			var BOXFDATA=data.BOXFDATA;
			
			usestatus=BOXDATA[0].USESTATUS;
			
			setStatus(usestatus,BOXFDATA);
			
			
			//查询按钮点击时  保存到local  按照文本的形式保存
			//localStorage.tmsdispatchlist = JSON.stringify(response.sysdata.TmsDispatch_tmsEmployeeDispatch);
			//displayui(response.sysdata.WmsBox_wmsBoxDtl);
	        
		}
	}
	
	
}

function setStatus(usestatus,BOXFDATA){
	if(usestatus=="2"){
		//$("#btnsave").attr("disabled","disabled");
		$("#feedbackpanl input,button").attr("disabled","disabled");
		$("#feedbackpanl li").addClass("disabled");
	}
	if(!$.isEmptyObject(BOXFDATA)){
		 fmemo=BOXFDATA[0].FMEMO;
		 ftypeid=BOXFDATA[0].FTYPEID;
		$("#fmemo").val(fmemo);
		
		
		
		$("#feedbackoptionlist li").each(function(i,c){
			
			var _ddlid=$(c).find("#ddlid").html();
			if(ftypeid==_ddlid){
				$(c).addClass("mui-selected");
			}
			
		})
		
		
	}
	
}
			
function initSave(){
	mui(document.body).on('tap', '#btnsave', function(e) {
		//校验数据
		if(ftypeid==""){
			mui.toast('请选择未扫码原因！');
			return ;
		}
		if(ftypename.indexOf("计入")){
			mui.confirm('您当前选择的未扫码原因，点击保存后，经调度审核后，会被认定是扫码装车了的，确定继续吗？','确认',['确认','取消'],function (e) {
			   console.log(e.index);
			   if(e.index==0){
				   mui("#btnsave").button('loading');
				   saveLog();
			   }else if(e.index==1){
				   return ;
			   }
			},'div')
			
		}else{
			mui.confirm('您当前选择的未扫码原因，保存之后，只是一个记录信息，并不会认定是扫码装车了','确认',['确认','取消'],function (e) {
			   if(e.index==0){
			   				   mui("#btnsave").button('loading');
			   				   saveLog();
			   }else if(e.index==1){
			   				   return ;
			   }
			},'div')
		}

	});
	
}

function saveLog(){
	
		//利用RunJS的Echo Ajax功能测试
		var url =getServerPath(localStorage.netmod)
		var dataType = 'json';
		
		//发送数据
		var data = {
			controller: 'TmsLoadTruck',
			method: 'saveBoxCodeFeedLog',
			carryupid: carryupid,
			dispatchid_: dispatchid_,
			dispatchdtlid_:dispatchdtlid_,
			ddlid:ftypeid,
			fuserid:getWMSEmployeeID(),
			fmemo:$("#fmemo").val(),
			token: TOKEN
		};
	
		console.log(JSON.stringify(data));
	
		mui.ajax(url, {
			data: data,
			dataType: dataType, //服务器返回json格式数据
			type: 'post', //HTTP请求类型
			timeout: 10000, //超时时间设置为10秒；
			success: saveSuccess,
			error: myerr
		}); 
}


var myerr = function(xhr, type, errorThrown) {
	//异常处理；
	err(xhr, type, errorThrown);
	mui("#btnsave").button('reset');
}


function saveSuccess(response){
	if(response != null) {
		var syscode = response.syscode;
		var sysreason = response.sysreason;
		if(syscode == SYSCODE_NO) {
			tokenOutTime(sysreason);
		} else {
			console.log(JSON.stringify(response));
			var data=response.sysdata.TmsLoadTruck_saveBoxCodeFeedLog;
			mui.alert(data.msg,'结果','确定',function (e) {
				if(e.index==0){
					mui("#btnsave").button('reset');
				}
				   
			},'div')
			//查询按钮点击时  保存到local  按照文本的形式保存
			//localStorage.tmsdispatchlist = JSON.stringify(response.sysdata.TmsDispatch_tmsEmployeeDispatch);
			//displayui(response.sysdata.WmsBox_wmsBoxDtl);
	        
		}
	}
	
	
}


function initFeedBackOptions(){
	
	var BOXCODE_FTYPE=JSON.parse(localStorage.BOXCODE_FTYPE);
	$("#feedbackoptionlist").find("li").remove();
	for(var i=0;i<BOXCODE_FTYPE.length;i++){
		var htmloption='<li class="mui-table-view-cell">'+
					       '<a class="mui-navigate-right" id="ddlname">'+BOXCODE_FTYPE[i].DDLNAME+'</a>'+
						   '<a class="mui-navigate-right mui-hidden" id="ddlid">'+BOXCODE_FTYPE[i].DDLID+'</a>'+
				       '</li>';
	    
		$("#feedbackoptionlist").append(htmloption);
	}
	
	var list = document.querySelector('#feedbackoptionlist');
	list.addEventListener('selected',function(e){
		ftypeid=$(e.detail.el).find("#ddlid").html();
		ftypename=$(e.detail.el).find("#ddlname").html();
		//console.log("当前选中的为："+e.detail.el.innerText);
		//console.log("当前选中的为："+$(e.detail.el).find("#ddlid").html());
	});
	
}
			function init() {
				var self = plus.webview.currentWebview();
				keyid = self.keyid;
				boxcode = self.boxcode;
				packagetype=self.packagetype;
				employeename=self.employeename;
				flag=self.flag;
				customname=self.customname;
				carrydate=self.carrydate;
				carryupid=self.carryupid;
				dispatchid_=self.dispatchid_;
				dispatchdtlid_=self.dispatchdtlid_;
				usestatus=self.usestatus;
			}
			
			function setTitle(){
				var classstyle=usestatus=="2"?"scaned":"unscaned";
				jQuery(".mui-title").html(boxcode+"装箱清单").addClass(classstyle);
				jQuery("#customname").html(customname);
				jQuery("#employeename").html(employeename);
				jQuery("#carrydate").html(carrydate);
				jQuery("#packagetype").html(packagetype=="scatter"?'散件':'整件')
			}

			//ajax 请求中。
			ajaxxing();
			var ajax = function(keyid, packagetype) {
				//利用RunJS的Echo Ajax功能测试
				var url =getServerPath(localStorage.netmod)
				var dataType = 'json';
				//var loaderid = getEmployeeid();
				//alert("loaderid"+loaderid)
				//var vcproductinfo = ShortPY(document.getElementById('vcproductinfo').value.toUpperCase());
				//发送数据
				var data = {
					controller: 'WmsBox',
					method: 'wmsBoxDtl',
					keyid: keyid,
					packagetype: packagetype,
					token: TOKEN
				};

				//console.log("loaderid###:" + loaderid + "credate:" + credate);
				//mui.post(url, data, success, dataType);

				mui.ajax(url, {
					data: data,
					dataType: dataType, //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: success,
					error: err
				});

			};
			//成功响应的回调函数
			var success = function(response) {
				if(response != null) {
					var syscode = response.syscode;
					var sysreason = response.sysreason;
					if(syscode == SYSCODE_NO) {
						tokenOutTime(sysreason);
					} else {
						console.log(JSON.stringify(response));
						//查询按钮点击时  保存到local  按照文本的形式保存
						//localStorage.tmsdispatchlist = JSON.stringify(response.sysdata.TmsDispatch_tmsEmployeeDispatch);
						displayui(response.sysdata.WmsBox_wmsBoxDtl);
					}
				}
			};
			//将查询结果显示到UI上，并且绑定事件
			function displayui(jsonobj) {
				jQuery('#list').find('li').remove();
				jQuery.each(jsonobj, function(index, content) {
					var numdesc=content.DTLID==-1?(content.GOODSQTY/content.PACKSIZE)+'件':content.GOODSQTY+content.GOODSUNIT;
					var num = index + 1;
					jQuery('#list').append(
						'<li class="mui-table-view-cell">' +
						'<a>' +
						'<div class="mui-row ">'+
								'<div class="mui-col-sm-12  mui-col-xs-12 " ><span id="boxcode">' + content.GOODSNAME + '</span></div> ' +
								'<div class="mui-row">'+
								    '<div class="mui-col-sm-6  mui-col-xs-6 " ><h5 id="carrydate">' + content.GOODSTYPE + '</h5></div>' +
								    '<div class="mui-col-sm-3  mui-col-xs-3 " ><h5 id="packageqty">' + (content.PACKSIZE+content.GOODSUNIT+'/件') + '</h5></div> ' +
								    '<div class="mui-col-sm-3  mui-col-xs-3 " ><h5 id="packageqty">' + numdesc + '</h5></div> ' +
									//'<div class="mui-col-sm-2  mui-col-xs-2 " ><h5 id="employeename">' + content.GOODSUNIT + '</h5></div>' +
									
								'</div>'+
						'</div>' +
						'<span style="display: none;" id="keyid">' + content.KEYID + '</span>' +
						'<span style="display: none;" id="dtlid">' + content.DTLID + '</span>' +
						'<span style="display: none;" id="goodsid">' + content.GOODSID + '</span>' +
						'</a>' +
						'</li>'
					);
				});

				/*jQuery('#list a').click(function() {
									//显示商品信息
									var keyid = jQuery(this).find('#keyid').html();
									var boxcode = jQuery(this).find('#boxcode').html();
									var packagetype = jQuery(this).find('#packagetype').html();
									var flag="read";
									showBoxDtl(keyid,boxcode,packagetype,flag);
								});*/

			}

				/**
				 * 显示包装箱详细内容
				 * @param {Object} keyid
				 * @param {Object} boxcode
				 * @param {Object} packagetype
				 * @param {Object} flag
				 */
				var showBoxDtl=function(keyid,boxcode,packagetype,flag){
					mui.openWindow({
								url: 'wmsBoxDtl.html',
								id: 'wmsBoxDtl.html',
								extras: {
									keyid: keyid,
									boxcode: boxcode,
									packagetype: packagetype,
									flag:flag
								},
								waiting: {
									autoShow: false
								}
							});
				}



			/*			//返回主页面
						function turnToParent(jsonstr) {
							var mainPage = null;
							if(!mainPage) {
								mainPage = plus.webview.currentWebview().opener();
							}
							mui.fire(mainPage, "widgetSelectEvent", {
								"value": jsonstr
							});
							mui.back();
						}

						var open_dtl = function(dispatchid, drivername, routename) {
							mui.openWindow({
								url: 'tmsDispatchdtl.html',
								id: 'tmsDispatchdtl.html',
								extras: {
									dispatchid: dispatchid,
									drivername: drivername,
									routename: routename
								},
								waiting: {
									autoShow: false
								}
							});
						}
			*/
		</script>
	</body>

</html>